@model IEnumerable<SecuritySWD62A2025.Models.DatabaseModels.Article>
@inject SecuritySWD62A2025.Utilities.EncryptionUtility encUtility


@{
    ViewData["Title"] = "Articles List";
}

<h2>Articles</h2>
<a asp-action="Create" class="btn btn-primary mb-3">Create New Article</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Created Date</th>
            <th>Updated Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var article in Model)
        {
            <tr>
                <td>@article.Title</td>
                <td>@article.AuthorFK</td>
                <td>@article.CreatedDate.ToString("yyyy-MM-dd")</td>
                <td>@article.UpdatedDate.ToString("yyyy-MM-dd")</td>
                <td>

                    @{

                        string [] keys = System.IO.File.ReadAllLines("myKeys.txt");

                        SecuritySWD62A2025.Utilities.SymmetricKeys myKeys = new
                                           SecuritySWD62A2025.Utilities.SymmetricKeys()
                                {
                                    SecretKey = Convert.FromBase64String(keys[0]),
                                    IV = Convert.FromBase64String(keys[1])
                                };


                        var encryptedQuerystringValue = encUtility.SymmetricEncrypt(article.Id.ToString(),
                        System.Security.Cryptography.Aes.Create(),
                         myKeys
                        );


                        encryptedQuerystringValue= encryptedQuerystringValue.Replace("+", "$");
                        encryptedQuerystringValue = encryptedQuerystringValue.Replace("==", "|");
                        encryptedQuerystringValue = encryptedQuerystringValue.Replace("/", "*");

                        //Remember to change back these values when you're reading for decryption i.e. ActionFilter
                    }

                  <a href="/Article/Details?id=@encryptedQuerystringValue">View Article</a>
                </td>
            </tr>
        }
    </tbody>
</table>
